.payment-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #141414; /* Netflix background color */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form .form-group {
    margin-bottom: 15px;
    width: 700px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .payment-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(visa.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 80%;
  }

  .payment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .payment-form button:hover {
    background-color: #0056b3;
  }
  